This notebook will performing some EDA on the 2024-2025 season. Topics in the EDA will be random. An additional objective of this file would be informing decisions to develop a general script to perform similar EDA on the other seasons in `data`.

In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [ ]:
# importing csv file for 2024-2025 season
file_path = os.path.join(os.getcwd(), 'data', '2024-2025.csv')
data_2024_2025 = pd.read_csv(file_path)

In [ ]:
# initial inspection of data 
data_2024_2025.head(10)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
5,E0,17/08/2024,15:00,Nott'm Forest,Bournemouth,1,1,D,1,0,...,1.94,1.99,1.94,1.98,2.05,2.00,1.93,1.93,1.96,2.02
6,E0,17/08/2024,17:30,West Ham,Aston Villa,1,2,A,1,1,...,1.83,2.10,1.85,2.09,1.86,2.14,1.82,2.08,1.84,2.18
7,E0,18/08/2024,14:00,Brentford,Crystal Palace,2,1,H,1,0,...,2.07,1.86,2.06,1.88,2.11,1.88,2.05,1.85,2.07,1.92
8,E0,18/08/2024,16:30,Chelsea,Man City,0,2,A,0,1,...,1.94,1.99,1.96,1.97,1.96,2.00,1.90,1.96,1.93,2.07
9,E0,19/08/2024,20:00,Leicester,Tottenham,1,1,D,0,1,...,2.03,1.90,2.02,1.91,2.06,1.92,1.99,1.87,2.03,1.96

## First Focus: Match Data 

Going to start by solely looking at the stats pertaining to what happend during the games rather than any of the data associated with the sports betting. Since we know the games are also all from the Premier League we can ignore the `Div` column.

In [18]:
# subset of data for match stats
match_stat_cols = ['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
                   'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST',
                   'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
match_data = data_2024_2025[match_stat_cols]
match_data.head(10)

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,D,...,5,2,12,10,7,8,2,3,0,0
1,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,D,...,2,5,9,18,2,10,3,1,0,0
2,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,H,...,6,3,17,14,8,2,2,2,0,0
3,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,A,...,1,5,8,8,1,5,1,1,1,0
4,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,H,...,1,4,15,16,3,12,2,4,1,0
5,17/08/2024,15:00,Nott'm Forest,Bournemouth,1,1,D,1,0,H,...,8,4,17,8,2,6,1,3,0,0
6,17/08/2024,17:30,West Ham,Aston Villa,1,2,A,1,1,D,...,3,3,18,11,5,3,1,2,0,0
7,18/08/2024,14:00,Brentford,Crystal Palace,2,1,H,1,0,H,...,5,6,6,15,4,7,1,5,0,0
8,18/08/2024,16:30,Chelsea,Man City,0,2,A,0,1,A,...,3,5,12,9,4,3,1,1,0,0
9,19/08/2024,20:00,Leicester,Tottenham,1,1,D,0,1,A,...,3,7,11,12,2,13,1,1,0,0

### TODO: First EDA graphs
1. Focus on stats involving games from the entire league (wins from home teams, comback games)
2. Generate standings for teams after each team players a game
3. Look into stats on team-by-team basis